<% include partials/header2 %>

    <div class="container adestcont">
        <h1 class="text-center my-5">Edit <%= destination.name %></h1>
        <div class="row justify-content-center mb-5">
            <div class="col-md-6 col-8">
                <form action="/destinations/<%= destination._id %>/?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input class="form-control py-3" type="text" name="destination[name]" value="<%=destination.name %>" >
                    </div>
                    <div class="form-group">
                        <label for="image" class="">Image</label>
                        <input class="form-control" type="file" id="image" name="image" accept="image/*" style="padding:0;height:auto;">
                    </div>
                    <div class="form-group">
                        <textarea rows="" cols="10" class="form-control" rows="10" name="destination[description]"><%=destination.description %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input class="form-control" type="text" name="destination[location]" id="location" value="<%= destination.location %>">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit</button>
                    </div>
                </form>
                <a href="/destinations/<%= destination._id %>" class="">Go Back</a>
            </div>
        </div>
    </div>


<% include partials/footer4 %>